input#esea-match-id.form-control
.ncg-btn-group
    .btn-group.btn-group-justified
        .btn-group.btn-group-xs
            button#esea-match-id-update.btn.btn-group-xs.btn-default(type="button") Update Match
table#esea-match-teams.tablesorter.tablesorter-blue
    thead
        tr
          th Team
          th.half1 H1
          th.half2 H2
          th.overtime OT
          th T
          th K
          th DMG
          th HR
          th CPC
          th CPB
          th UC
          th UCD
      tbody
table#esea-match-players.tablesorter.tablesorter-blue
    thead
        tr
            th Player
            th K
            th A
            th D
            th KA:D
            th DMG
            th DPM
            th HR
            th MP
            th CPC
            th CPB
    tbody
